extends ../layout/app
block body-content
  header.app-header
    img(src="../../assets/images/pug-logo.png", alt="pugjs-logo")
    p 
      | Hello World!
    a(href="https://pugjs.org/api/getting-started.html") Learn PugJS